<main>
    <section class="main-section">
      <div class="form-container">
        <h1>Payment</h1>
  
        <div class="form-layout">
          <!-- Coluna 1: Planos -->
          <div class="plan-options">
            <p>Choose a plan:</p>
            <label>
              <input type="radio" name="plan" [(ngModel)]="selectedPlano" value="x" />
              Plan X
            </label>
            <label>
              <input type="radio" name="plan" [(ngModel)]="selectedPlano" value="y" />
              Plan Y
            </label>
           <!-- <p>Selected plan: {{ selectedPlano }}</p> -->
          </div>
  
                <!-- Seção: Forma de pagamento -->
        <div class="plan-options">
            <p>Choose payment:</p>
            <label>
            <input
                type="radio"
                name="payment"
                [(ngModel)]="selectedPayment"
                value="card"
            />
            Card
            </label>
            <label>
            <input
                type="radio"
                name="payment"
                [(ngModel)]="selectedPayment"
                value="pix"
            />
            Pix
            </label>
          <!--  <p>Forma selecionada: {{ selectedPayment }}</p> -->

        </div>
        <!-- Se cartão for selecionado, mostra inputs -->
        <form class="form" *ngIf="selectedPayment === 'card'">
            <p>Card number:</p>
            <input type="text" placeholder="4242 4242 4242 4242" />
        
            <p>Validity:</p>
            <input type="text" placeholder="MM/AA" />
        
            <p>CVC:</p>
            <input type="text" placeholder="123" />
        
            <button class="start-btn" [disabled]="!selectedPlano || selectedPayment !== 'card'">
                Pay by card (simulated)
            </button>
            
        
           
        </form>
        
        <!-- Se pix for selecionado, mostra QR Code -->
        <div class="form" *ngIf="selectedPayment === 'pix'">
            <p>Use the QR Code below to complete your payment:</p>
            <img src="/assets/qr-code.png" alt="Pix QR Code" style="width: 200px;" />
        </div>
      
            </div>
            <a>Have an account? <b routerLink="/">Login</b></a>
       
        </div>
        </section>
  </main>
  